<h1>Word: <%=@definition.word.word %> </h1>
<h2>Definition: <%= @words.definitions %> </h2>

<form action="/words/<%= @definition.word.id %>/definition/<%=@definition.id%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="definition_input">Edit definition</label>
  <input type="text" id="definition_input" name="definition_input">
  <button type="submit">Update definition</button>
</form>
<form action="/words/<%= @definition.word.id %>/definition/<%=@definition.id%>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete definition</button>
</form>
<p><a href="/words/<%= @words.id %>/definition/<%=@definition.id %>/edit">Edit definition</a></p>
<a href="/words/<%= @definition.word.id %>">Back to <%= @definition.word.word %></a>
