<h2>Word: <%= @words.word.capitalize %></h2>
<h3>Definitions</h3>
<% if @words.definitions %>
<ul>
  <% @words.definitions.each do |defi| %>
  <li><a href="/words/<%= @words.id %>/definition/<%= defi.id %>"><%= defi.definition %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no definition listed for this word yet.</p>
<% end %>

<h4>Add a Definition</h4>

<form action="/words/<%=@words.id %>/definition" method = "post">
  <div class="form-group">
    <label for="definition_input">Definition:</label>
    <input name="definition_input" class="form-control" type="text">
  </div>
    <button type="submit" class="btn">Add a definition</button>
</form>

<p><a href="/words/<%= @words.id %>/edit">Edit Word</a></p>
<p><a href="/words/new">Add a new word </a></p>
<p><a href="/words">Return Word list</a></p>
