<h4>Word: <%= @word.word %></h4>
<h3>Definition: <%= @word.definitions%> </h3>

<% if @word.definitions %>
<ul>
  <% @word.definitions.each do |defi| %>
  <li><a href="/words/<%= @word.id %>/definition/<%= defi.id %>"><%= defi.definition %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no definition listed for this word yet.</p>
<% end %>

<h4>Add a Definition</h4>

<form action="/words/<%=@word.id %>/definition" method = "post">
  <div class="form-group">
    <label for="definition_input">Definition:</label>
    <input id="definition_input" name="definition_input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add a definition</button>
</form>

<p><a href="/words/<%= @word.id %>/edit">Edit Word</a></p>
<a href="/words">Return Word list</a>
